.product-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  /* max-width: 120rem;
  margin: 0 auto; */
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}

.all-heading {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--color-text-navbar);
}
