.cart-container {
  width: 100%;
  padding: 3rem 12rem;
}

.cart-heading {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  line-height: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--color-text-navbar);
}

@media only screen and (max-width: 1024px) {
  .cart-container {
    padding: 2rem 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .cart-heading {
    grid-template-columns: repeat(3, 1fr);
  }
  .cart-hide {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .cart-container {
    padding: 2rem 0.75rem;
  }
}

.cart-buttons-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-buttons-div button,
.continue-shopping-btn {
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.continue-shopping-btn {
  background-color: var(--color-green);
}

.cart-clear-btn {
  background-color: var(--color-red-secondary);
}

.no-item-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: var(--color-text-navbar);
  height: 20vh;
}

.cart-total-div {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}
.cart-total-inner {
  width: 300px;
  display: flex;
  justify-content: end;
  background-color: #f2f3f5;
  padding: 3rem;
  color: var(--color-text-navbar);
  font-size: 1.25rem;
}
.cart-total-amount {
  font-weight: 700;
}
