.sidebar-div {
  padding: 0 3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
  z-index: 2;
  background-color: #fff;
}

.sidebar-category {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  gap: 5px;
}

.sidebar-div h3 {
  color: var(--color-text-navbar);
  margin-bottom: 0.75rem;
}

.sidebar-category button {
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-text-navbar);
  text-transform: capitalize;
  text-align: left;
  cursor: pointer;
  font-size: 0.9rem;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  width: 50%;
}

.sidebar-category button:hover {
  color: var(--color-red-primary);
  border-bottom: 2px solid var(--color-red-primary);
}

.sidebar-company {
  margin-top: 2rem;
}
.sidebar-company h3 {
  color: var(--color-text-navbar);
}

.sidebar-search {
  margin-bottom: 2rem;
}
